.Abilities-div{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
    user-select: none;
    outline:none
}
.Abilities-div:hover{
    cursor: pointer;
    width:80%;
    border-radius: 30%;
    background-color: rgba(203, 45, 62, 0.1);
}

.Ability-Points{
    display: flex;
}

.Abilities-title{
    text-align: center;
}
.Abilities-paragraph{
    margin: auto;
    text-align: center;
}

