.string-div{
    display: flex;
    align-items: baseline;

}

.two-column-div{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.Monster-Sheet-div{
    display: flex;
    align-items: center;
    margin-top: -0.5vh;
    margin-bottom: -0.5vh;
}
.proficiencies-saves-div{
    display: flex;
    align-items: center;
    text-align: center;
}

.Monster-Sheet-BaseStats{
    margin-top: 1vh;
}

.Ability-Points-div{
    margin: 5px;
    width: 80px;
    height: 80px;
    border-width: 5px;
    border-style: solid;
    border-color: #cb2d3e;
    background-color: rgb(255, 255, 255);
    color: #cb2d3e;
    border-bottom-left-radius: 150% 75%;
    border-bottom-right-radius: 150% 75%;
    border-top-left-radius: 100% 15%;
    border-top-right-radius: 100% 15%;
}

.Abilities-div{
    margin: 10px;
}