.string-div{
    display: flex;
    align-items: baseline;
}

.two-column-div{
    display: flex;
    flex-direction: row;
    width: 60%;
}

.Monster-Sheet-div{
    display: flex;
    align-items: center;
}

.Monster-Sheet-BaseStats{
    margin-top: 1vh;
}


.Action-div{
    margin-top: 2vh;
}

.Action-description-div{
    display: flex;
    align-items: center;

}

.Action-inner-div{
    display: flex;
    align-items: center;
}

.Monster-Sheet-page{
    display: flex;
    flex-direction: column;
}

.Monster-Sheet-title{
    display: flex;
}

.Monster-Sheet-skills{
    overflow-y: auto
}
.Monster-Sheet-stats{
    width: 100%;

}

.additional-stat-div{
    display: flex;
    margin-right: 3vw;
    align-items: baseline;
}