.pagination-div{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4vh;
}


.home-page-title-div{
    display: flex;
    flex-direction: column;
    color: #cb2d3e;
    margin: auto;
    margin-bottom: 5vh;
}

.home-page-title{
    display: flex;
    margin: auto;
    color: #cb2d3e
}